body {
  background-color: #fafafa;
}

.container {
  display: flex;
  align-items: center;
  justify-content: center;
  flex-direction: column;
}

.image {
  width: 23rem;
  margin-top: 3rem;
}

@media (max-width: 770px) {
  .container {
    margin: 0 .5rem;
  }

  .image {
    width: 100%;
  }
}
